table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #dddddd;
    font-size: 16px;
    font-weight: 700;
    padding-top: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 8px solid #f2f2f2;
    /* margin: 6px 11px; */
  
  }
  
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  
  }
  
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #006fc2 !important;
    color: white;
  }