
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
.no-sort::after {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
}

#table_length {
    position: absolute;
    margin-top: 42px;
}

input, select, textarea {
    max-width: 100%;
}

.form-style-3 {
    max-width: 100%;
    font-family: "Droid Arabic Kufi", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

    .form-style-3 label {
        display: block;
        margin-bottom: 10px;
    }

        .form-style-3 label > span {
            float: right;
            width: 20px;
            color: #F072A9;
            font-weight: bold;
            font-size: 13px;
            text-shadow: 1px 1px 1px #fff;
        }

    .form-style-3 fieldset {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        margin: 0px 0px 10px 0px;
        border: 1px solid #004489;
        padding: 20px;
        background: #F4F4FF;
        box-shadow: inset 0px 0px 15px #CADFF5;
        -moz-box-shadow: inset 0px 0px 15px #CADFF5;
        -webkit-box-shadow: inset 0px 0px 15px #CADFF5;
    }

        .form-style-3 fieldset legend {
            color: #004489;
            border-top: 1px solid #004489;
            border-left: 1px solid #004489;
            border-right: 1px solid #004489;
            border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            -moz-border-radius: 5px 5px 0px 0px;
            background: #F4F4FF;
            padding: 0px 8px 3px 8px;
            box-shadow: -0px -1px 2px #CADFF5;
            -moz-box-shadow: -0px -1px 2px #CADFF5;
            -webkit-box-shadow: -0px -1px 2px #CADFF5;
            font-weight: normal;
            font-size: 25px;
            text-align: right;
        }

    .form-style-3 textarea {
        width: 250px;
        height: 100px;
    }

    .form-style-3 input[type=text],
    .form-style-3 input[type=date],
    .form-style-3 input[type=datetime],
    .form-style-3 input[type=number],
    .form-style-3 input[type=search],
    .form-style-3 input[type=time],
    .form-style-3 input[type=url],
    .form-style-3 input[type=email],
    .form-style-3 select,
    .form-style-3 textarea {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border: 1px solid #004489;
        outline: none;
        color: #004489;
        padding: 5px 8px 5px 8px;
        box-shadow: inset 1px 1px 4px #CADFF5;
        -moz-box-shadow: inset 1px 1px 4px #CADFF5;
        -webkit-box-shadow: inset 1px 1px 4px #CADFF5;
        background: #F4F4FF;
    }

.floatForm {
    float: left;
    margin-top: 2px;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
    background: #46A2FF;
    padding: 5px 15px 5px 15px;
    color: #ffffff;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}

.required {
    color: red;
    font-weight: normal;
}

.label {
    font-family: "Droid Arabic Kufi"
}

.nav > li > a {
    font-family: "Droid Arabic Kufi";
    font-size: 12px;
}


.form-horizontal .control-label {
    text-align: right;
    font-size: 18px;
}

.menu-area ul li a {
    color: #545454;
}

.sticky ul li a {
    color: white;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.table {
    direction: rtl;
}

    .table th {
        text-align: right;
    }


.table {
    direction: ltr;
}

    .table th {
        text-align: left;
    }

.Reslanglogin {
    float: right;
    padding: 14px;
    padding-right: 0px;
}

.logot {
    float: right;
    padding: 14px;
    padding-left: 4px;
}

.wrapper-content {
    overflow-x: auto;
}

.btn-circle {
    font-size: 15px;
    padding: 3px 0;
}


.imgs-circle {
    width: 68px;
    height: 68px;
    border: 2px solid #2f4050;
    border-radius: 47%;
}


.wrapper-content {
    overflow-x: hidden;
}
thead{
    background: #2f2b2b !important;
    color: white !important;
    font-size: 14px !important;
}